<!DOCTYPE html>
<html>
  <head>
    <title>
      Departamentos
    </title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/turmas">Turmas</a>
      <a href="/professors">Professores</a>
      <a href="/departamentos">Departamentos</a>
    </div>
    <h1>Departamentos</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        {% for departamento in departamentos %}
        <tr>
          <td>{{ departamento['departamento_id'] }}</td>
          <td>{{ departamento['nome'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
