<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/users/login">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required /><br /><br />
      <label for="password">Senha:</label>
      <input type="password" name="senha" id="senha" required /><br /><br />
      <input type="submit" value="Login" />
    </form>

    <!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/users/login">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required /><br /><br />
      <label for="password">Senha:</label>
      <input type="password" name="senha" id="senha" required /><br /><br />
      <input type="submit" value="Login" />
    </form>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
