<!DOCTYPE html>
<html>
  <head>
    <title>AvaliaUnB</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/turmas">Turmas</a>
      <a href="/professors">Professores</a>
      <a href="/departamentos">Departamentos</a>
    </div>
    <h2>Turmas com Melhores Notas</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Turma</th>
        <th>Média de Notas</th>
      </tr>
      {% for turma in turmas_melhores_notas %}
      <tr>
        <td>{{ turma['id'] }}</td>
        <td>{{ turma['turma'] }}</td>
        <td>{{ turma['media_notas'] }}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>Turmas com Piores Notas</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Turma</th>
        <th>Média de Notas</th>
      </tr>
      {% for turma in turmas_piores_notas %}
      <tr>
        <td>{{ turma['id'] }}</td>
        <td>{{ turma['turma'] }}</td>
        <td>{{ turma['media_notas'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
