<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <form method="POST" action="/users/register" enctype="multipart/form-data">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" required /><br /><br />
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required /><br /><br />
      <label for="matricula">Matrícula:</label>
      <input type="text" name="matricula" id="matricula" required /><br /><br />
      <label for="curso">Curso:</label>
      <input type="text" name="curso" id="curso" required /><br /><br />
      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" required /><br /><br />
      <label for="foto">Foto:</label>
      <input type="file" name="foto" id="foto" accept="image/*" /><br /><br />
      <input type="submit" value="Registrar" />
    </form>
  </body>
</html>
