* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
    background: #000000;
}

ol,
ul {
    list-style: none;
}

.logo {
    position: center;
    width: 229px;
    height: 68px;
    left: 517x;
    top: 68px;
    margin-top: 42px;
    background: url(logo1.png);
}

h2 {
    color: #ffff;
    width: 334px;
    height: 42px;


    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    margin-top: 73px;
    margin-bottom: 61px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

section {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

}

section ul {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

section ul .perfil {}

section ul .perfil .img_perfil {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

}

section ul .perfil .nome_perfil {
    color: #9C9C9C;
    Font: IBM Plex Sans;
    font-weight: 600, Semi Bold;
    font-size: 14px;
    line-height: 18.2px;
    margin-top: 16px;
    margin-bottom: 116px;
}

section ul .perfil .nome_perfil {
    color: #9C9C9C;
    Font: IBM Plex Sans;
    font-weight: 600, Semi Bold;
    font-size: 14px;
    line-height: 18.2px;
    margin-top: 16px;
    margin-bottom: 116px;
}

section ul .perfil .nome_perfil {
    color: #9C9C9C;
    Font: IBM Plex Sans;
    font-weight: 600, Semi Bold;
    font-size: 14px;
    line-height: 18.2px;
    margin-top: 16px;
    margin-bottom: 116px;
}

section ul .criar_perfil {
    position: static;
    left: 18.44%;
    right: 18.44%;
    top: 90.72%;
    bottom: 0%;
}

section ul .criar_perfil .c_perfil {
    left: 18.44%;
    right: 18.44%;

    color: #9C9C9C;
    Font: IBM Plex Sans;
    font-weight: 600, Semi Bold;
    font-size: 14px;
    line-height: 18.2px;
    margin-top: 16px;

}

button {
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}